@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
ul, li, ol {
  list-style: none;
}

.gauge {
  width: 500px;
  height: 100%;
}

.gauge > li::after {
  display: block;
  content: "";
  background: #f0f0f0;
  width: 500px;
  height: 30px;
  position: absolute;
  top: 0px;
  z-index: -100;
}

li:first-child {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(2) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(3) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(4) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(5) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(6) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(7) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(8) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(9) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:nth-child(10) {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:last-child {
  width: 50%;
  height: 30px;
  background: #567999;
  color: #f0f0f0;
  position: relative;
  margin: 10px auto;
  text-indent: 10px;
}

li:first-child::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(2)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(3)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(4)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(5)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(6)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(7)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(8)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(9)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:nth-child(10)::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}

li:last-child::before {
  display: block;
  position: absolute;
  content: "50%";
  width: 20%;
  height: 30px;
  background: #cacfd4;
  color: #333;
  left: 80%;
}/*# sourceMappingURL=style03.css.map */